<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>FindMySpot | User Dashboard</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <nav class="navbar sticky-top navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid ms-5">
            <a class="navbar-brand" href="#">FindMySpot</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto me-5">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/user/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/user/search">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Summary</a>
                    </li>
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            <i class="bi bi-person fs-5"></i>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="#">Logout</a></li>
                        </ul>
                    </div>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Toggle Between Available Spots and Parking History -->
    <ul class="nav nav-pills mb-3 d-flex justify-content-center mt-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
                type="button" role="tab" aria-controls="pills-home" aria-selected="true">Available Parking Lots</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
                type="button" role="tab" aria-controls="pills-profile" aria-selected="false">Your Parking
                History</button>
        </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
        <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab"
            tabindex="0">
            <!-- Parking Lots -->
            <div class="card shadow-lg mx-auto my-2" style="width:80%">
                <div class="card-body">
                    <div class="card-header d-flex align-items-center justify-content-center">
                        <h5 class="card-title">Available Parking Lots</h5>
                    </div>
                    
                    <div class="row g-3 text-center mt-1">
                        {% for lot in all_par %}
                        <div class="col-4">
                            <div class="card">
                                <div class="card-body">
                                    <p><strong>{{ lot.prime_location_name }}</strong></p>
                                    <p>Available Spots: {{ lot.spots | selectattr('status', 'equalto', 'A') | list |
                                        length }}</p>
                                    <div class="btn-group btn-group-sm" role="group"
                                        aria-label="Basic outlined example">
                                        <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                                            data-bs-target="#bookParking-{{ lot.id }}">Book</button>
                                    </div>

                                    <!-- Modal for Book -->
                                    <div class="modal fade" id="bookParking-{{ lot.id }}" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h1 class="modal-title fs-5" id="exampleModalLabel">Book Parking
                                                        Spot</h1>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>
                                                <div class="modal-body">
                                                    <form action="/booking" method="POST">
                                                        <!-- Hidden Inputs to send to backend -->
                                                        <input type="hidden" name="lot_id" value="{{ lot.id }}">
                                                        <input type="hidden" name="user_id"
                                                            value="{{ current_user.id }}">
                                                        {% set available_spot = lot.spots | selectattr('status',
                                                        'equalto', 'A') | list | first %}
                                                        <input type="hidden" name="spot_id"
                                                            value="{{ available_spot.id if available_spot else '' }}">

                                                        <!-- Readonly Display Info for the user -->
                                                        <div class="mb-3">
                                                            <label class="form-label">Lot ID</label>
                                                            <input type="text" class="form-control" value="{{ lot.id }}"
                                                                readonly>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label">User ID</label>
                                                            <input type="text" class="form-control"
                                                                value="{{ current_user.id }}" readonly>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label">Spot ID</label>
                                                            <input type="text" class="form-control"
                                                                value="{{ available_spot.id if available_spot else 'No spots available' }}"
                                                                readonly>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label">Location</label>
                                                            <input type="text" class="form-control"
                                                                value="{{ lot.address }}" readonly>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label">City</label>
                                                            <input type="text" class="form-control"
                                                                value="{{ lot.city }}" readonly>
                                                        </div>
                                                        <div class="mb-3">
                                                            <label class="form-label">Price per hour</label>
                                                            <input type="text" class="form-control"
                                                                value="₹{{ lot.price }}" readonly>
                                                        </div>

                                                        <!-- Vehicle Number Input from the user -->
                                                        <div class="mb-3">
                                                            <label class="form-label">Vehicle Number</label>
                                                            <input type="text" name="vehicle_number"
                                                                class="form-control"
                                                                placeholder="Enter your vehicle number" required>
                                                        </div>

                                                        <div class="d-grid">
                                                            <button type="submit" class="btn btn-success" {% if not
                                                                available_spot %} disabled {% endif %}>
                                                                Confirm Booking
                                                            </button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}

                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab" tabindex="0">
            <!-- Registered Users -->
            <div class="card shadow-lg mx-auto" style="width:80%">
                <div class="card-body">
                    <div class="card-header text-center">
                        <h5 class="card-title">History</h5>
                    </div>
                    <div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Lot Name</th>
                                    <th scope="col">Spot ID</th>
                                    <th scope="col">City</th>
                                    <th scope="col">Pincode</th>
                                    <th scope="col">Booked at</th>
                                    <th scope="col">Released at</th>
                                    <th scope="col">Vehicle Number</th>
                                    <th scope="col" class="text-center">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for ru in booking_history %}
                                <tr>
                                    <th scope="row">{{ru.Parking_Lot.prime_location_name}}</th>
                                    <td>{{ru.spot_id}}</td>
                                    <td>{{ru.Parking_Lot.city}}</td>
                                    <td>{{ru.Parking_Lot.pin_code}}</td>
                                    <td>{{ru.parking_timestamp}}</td>
                                    <td>{{ru.leaving_timestamp}}</td>
                                    <td>{{ru.vehicle_number}}</td>
                                    <td class="text-center">
                                        {% if ru.leaving_timestamp == 'Not yet left' %}
                                        <form action="/release/{{ ru.id }}" method="POST">
                                            <button class="btn btn-warning btn-sm"
                                                onclick="return confirm('Release this spot?');">
                                                Release Spot
                                            </button>
                                        </form>
                                        {% else %}
                                        <span class="badge bg-success">Completed</span>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>